* {
    font-family: "Inter", sans-serif;
}

.bd {
    border: 1px solid red;
}

.centra {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}


.max-width-button {
    max-width: 85%;
}

:root {
    --primary-color: #ff709d;
    --secondary-color: #e8ce5a;
    --third-color: #b31b4b;

}

.button-beige {
    padding: 0 15px;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--secondary-color);
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);



}

.button-pink {
    padding: 0 15px;
    border-radius: 10px;
    margin: 10px;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);


}

.title-text {
    color: var(--secondary-color);
    font-weight: bold;
}

.title-text-violet {
    color: var(--third-color);
    font-weight: bold;
}

.margin-button {
    margin: 10px 0;
}

.spazio-vuoto {
    width: 100%;
    height: 50px;
}

.bd-violet {
    border: 3px solid var(--third-color);
}

/* phase 1 */

#container-phase1 {
    min-height: 100vh;
    background-color: var(--secondary-color);
    padding-bottom: 30px;
}

#input-gtx {
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    resize: both;
}


#container-text-phase1 {
    background-color: var(--primary-color);
    border-radius: 10px;
}


#navbar {
    margin-bottom: 50px;
    border-bottom: solid 1px var(--third-color);
}

.logo {
    width: 200px;
    height: 100px;
    padding: 10px;
    margin-right: auto;
}

.nav li {
    display: inline;
    margin: 0 15px;
}

.nav li a {
    text-decoration: none;
    color: var(--third-color);
    font-weight: bold;

}

#wrapper-mode {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 50px;
}

#specifier-mode {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--third-color);
    font-weight: bold;
}

/*------------ end phase1 ---------------------------- */




/* phase2 */

#column-color {
    background-color: var(--secondary-color);
}


#container-phase2 {
    min-height: 100vh;
    background-color: var(--primary-color);
}

#wrapper-greek-text {
    min-height: 100vh;
    background-color: var(--secondary-color);
    position: relative;

}


#col-greek-text {
    padding: 50px;
    overflow: scroll;
    resize: both;

}

#search-by-tag {
    border-radius: 10px;
    background-color: var(--secondary-color);
    border: 3px solid var(--third-color);
}


.highlightable {
    max-height: 20px;
    display: inline-block;
    margin: 0 5px;

}


#toolbar-phase2 {
    position: relative;
    top: 0;
    left: 0;
}

/* values area */
.gkw-values-area {
    display: none;
    position: absolute;
    width: 120%;
    height: 90%;
    border-radius: 15px;
    padding: 30px;
    background-color: var(--third-color);
    /* transform: translate(-20%, -50%); */
    animation: appear 0.5s forwards;
}




.gkw-values-area-appear {
    display: block;
    left: 0;
   


}

@keyframes appear {
    from{ top: 50%;}
    to{ 
        top: 50%;
        transform: translate(-20%, -50%);
    }
    }


.bold {
    font-weight: bold;
}






.conflicted {
    background-color: red;
    border-radius: 5px;
    position: relative;


}


.conflict-interface {
    width: 500px;
    height: 500px;
    border: 2px solid var(--third-color);
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#col-greek-text {
    padding-top: 0;
}

#resolve-conflict {
    padding: 10px;
    border: solid 2px var(--third-color);
    margin: 10px;
    margin-left: 0;
    ;
}

#wrapper-greek-text-bg {
    border: solid 1px black;
    width: 40px;
    height: 25px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 5px;

}


.option {
    background-color: var(--secondary-color);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--third-color);

}

#make-diagraph-wrapper {
    height: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.button-make {
    width: 100%;
    height: 50px;
    border: 2px solid var(--third-color);
}




.nav-tabs-title {
    font-weight: bold;
    color: #b31b4b
}



.button-close-conflict-interface {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* color and size of Button to close conflict interface */
.bi::before, [class*=" bi-"]::before, [class^="bi-"]::before {
    font-size: 25px;
    color: #b31b4b;
}




.skip-button {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 150%;
    background-color: #e8ce5a;
    border: 1px solid #b31b4b;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 6px 6px;
    min-width: 180px;
    z-index: 1000;
    font-size: 14px;
    text-align: start;
    color: #b31b4b;
    animation: fadeIn 0.15s ease-out;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.98);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*------------ end phase 2 ---------------------------- */




.highlighted {
    background-color: var(--primary-color);
    border-radius: 5px;
}










/* phase3 */

#container-phase3 {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    background-color: var(--secondary-color);


}

#main-sidebar {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: var(--primary-color);

}

#toolbar {
    display: flex;
    justify-content: center;
    min-height: 10vh;

}



/* resonance elements */



.resonance-element {
    font-size: 15px;
    background-color: violet;
    border: 1px solid purple;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
    word-wrap: break-word;
    padding: 5px;
    display: inline-block;

}

.on-table {
    display: inline-block;
    margin: 5px;
}

.disp-block {
    display: block;
}


.separator {
    border: 1px solid black;
    display: block;
}




/* work area */

#work-area {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
}








/* table tool */



#table-tool-subcontainer {
    width: 300px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

#choice-table {
    position: absolute;
    top: 50%;

    transform: translateY(-50%);

}


.cell {
    width: 0px;
    height: 30px;
    padding: 20px;
    margin: 5px;
    border-radius: 7px;
    background-color: var(--primary-color);
    border: 1px solid var(--third-color);

}

.cell-mouseover {
    background-color: var(--third-color);
}







/* table diagraph */

#container-table {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
}

tr, th, td {
    border: 1px solid red;


}




#table-diagraph {
    width: 100%;
    min-height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;

}

.main-row {
    height: 50px;
}

/* 

td{
    max-width: 10px;
    max-height: 10px;
}
 */




.sortable-selected {
    background-color: slateblue;
}



.salmon {
    background-color: salmon;
}