
.bd{
    border: 1px solid red;
}

.centra{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide{
    display: none;
}



/* phase 1 */

#container-phase1{
    min-height: 100vh;
}

#input-gtx{
    width: 500px;
    height: 500px;
}




/*------------ end phase1 ---------------------------- */




/* phase2 */
#container-phase2{
    min-height: 100vh;
    background-color: green;
}

#wrapper-greek-text{
    min-height: 100vh;
    background-color: orange;
    position: relative;

}


#col-greek-text{
    background-color: orange;
    padding: 50px;
    overflow: scroll;
    resize: both;

}


.highlightable{
    max-height: 20px;
    display: inline-block;
    margin: 0 5px;
    
}


#toolbar-phase2{
    position: relative;
    top: 0;
    left: 0;
}

/* values area */
.gkw-values-area{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: lightskyblue;
    
}

.gkw-values-area-appear{
    display: block;
    left: 0;
   
}


.bold{
    font-weight: bold;
}


/* handling conflict interface */



.conflicted{
    background-color: red;
}


.conflict-interface{
    width: 500px;
    height: 500px;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/*------------ end phase 2 ---------------------------- */


.highlighted{
    background-color: yellow;
}










/* phase3 */

#container-phase3{
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    
   
}

#main-sidebar{
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;

}

#toolbar{
    display: flex; 
    justify-content: end;
}



/* resonance elements */



.resonance-element{
    font-size: 15px;
    background-color: violet;
    border: 1px solid purple;
    border-radius: 5px;
    margin: 5px 5px;
    text-align: center;
    word-wrap: break-word;
    padding: 5px;
    display: inline-block;
    
}

.on-table{
    display: inline-block;
    margin: 5px;
}

.disp-block{
    display: block;
}


.separator{
    border: 1px solid black;
    display: block;
}




/* work area */

#work-area{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}








/* table tool */

#maincontainer-table-tool{
    border: 1px solid red;
}

#table-tool-subcontainer{
    width: 300px;
    height: 250px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    
}


.cell{
    border: 1px solid blue;
    width: 0px;
    height: 30px;
    padding: 20px;
    margin: 5px;
    border-radius: 7px;
    background-color: blue;

}

.cell-mouseover{
    background-color: lightblue;
}







/* table diagraph */

#container-table{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: start;
}

tr,th,td{
    border: 1px solid red;
    

}




#table-diagraph{
width: 100%;
min-height: 600px;
overflow-x: scroll;
overflow-y: scroll;

}

.main-row{
    height: 50px;
}

/* 

td{
    max-width: 10px;
    max-height: 10px;
}
 */




.sortable-selected{   background-color: slateblue;}



.salmon{
    background-color: salmon;
}





